@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gantari:wght@200&family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gantari', sans-serif;
}
header{
    width: 80%;
    height: 120vh;
    margin: auto;
}

.slider_img{
    filter: brightness(.4) !important;
}

.course_card{
    width: 80%;

    margin: auto;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}